<!--
File: content.ejs
Aniket Mehta
301069513
June 18 2022
-->

<link rel="stylesheet" href="./Content/app.css">
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4" style="text-align: center"><%= title %></h1>
    <p class="lead" style="text-align: center">Welcome to Aniket's <%= title %> Page</p>
    <hr class="my-4">

    <div class="card">
      <div class="card-header">
        <h3>Mission</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">What I offer</h5>
        <p class="card-text">I offer a unique design experience for small business,
          software companies, by providing the best websites, programming, design, feedback.</p>
        <a href="./about" class="btn btn-primary">Learn More</a>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h3>Vision</h3>
            <p class="card-text mb-auto">I envision a better future. Benifiting society. 
            As for myself I seek self development and improvement:  one that keeps me in shape, keeps
            me being creative, and last ome is to make me money</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h3>Values</h3>
            <p class="card-text mb-auto">If you get this opportunity to work with me I can promise you that it will be
              an experience
              that you won't forget.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Idea</h5>
              <img src="./Pictures/Idea.png" class="card-img" alt="...">
              <p class="card-text">"If you have an idea that you genuinely think is great,
                don't let some idiot talk you out of it." - Stan Lee</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Don't Give Up</h5>
              <img src="./Pictures/Don't.png" class="card-img" alt="...">
              <p class="card-text">"Don't give up till it's over. Never Give In N' Never Give Up" - Anonymous</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reasons</h5>
              <img src="./Pictures/Downtown.jpg" class="card-img" alt="...">
              <p class="card-text">"Someday, everything will make perfect sense. So for now,
              laugh at the confusion, smile through the tears, and keep reminding yourself
              that everything happens for a reason." - Anonymous</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>