<!--
File: footer.ejs
Aniket Mehta
301069513
October 8 2020
-->
<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <a class="navbar-brand" href="#">&copy; Copyright 2020</a>
</nav>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>