<!--
File: about.ejs
Aniket Mehta
301069513
October 8 2020
-->
<%- include('./partials/header.ejs') -%>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="display-4" style="text-align: center">About Me</h1>
                    <hr class="my-4">
                    <h6>You have come across Aniket Mehta page.</h6>
                    <p>I was born in India and Moved to Canada. I'm 21 years old. I live in a family of 4 and eldest son.
                        I love playing video games, building legos, going out for walks sometimes runs,
                        watching videos on youtube, and reading books about: self-improvement, business and growth.
                        I'm very friendly, so don't be shy. I enjoy making friends and networking with people.
                        I'm currently enrolled in Centennial College for Software Engineering Technology and
                        I enjoy what I'm doing in the program.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <img src="./Pictures/Ethan.jpg" class="card-img-top">
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <img src="./Pictures/resumepic.png" class="card-img" alt="...">
                        <h4 class="card-title">View my resume</h4>
                        <a href="./Pictures/Resume.pdf" download="Resume.pdf" class="btn btn-primary">Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') -%>