<!--
File: projects.ejs
Aniket Mehta


June 8 2022
-->

<%- include('./partials/header.ejs') -%>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="display-4" style="text-align: center">Projects</h1>
                    <hr class="my-4" />
                    <div class="row">
                        <div class="column">
                            <div class="card">
                                <img src="./Pictures/WebDev.png" class="card-img-top" style="width:100%">
                                <div class="container">
                                    <h3>Making an Application</h3>
                                    <p>One of these days in the future I
                                        will create my own app where it will
                                        hopefully help people in life.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <div class="container">
                                    <h3>Creating a website</h3>
                                    <p>Currently I'm in the process of making
                                        a persoal website about myself. Like a blog
                                        site by doing so I will learn more about myself
                                        the path that I took in life up to this point in time.
                                    </p>
                                    <img src="./Pictures/Website.png" class="card-img-top" style="width:100%">
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="card">
                                <img src="https://appindiatech.com/wp-content/uploads/2019/03/Graphic.png" alt=""
                                    style="width:100%">
                                <div class="container">
                                    <h3>Develop a game</h3>
                                    <p>If I ever go that route I would love to make my
                                        own games ranging from console and mobile games such as emulators.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') -%>