<!--
File: services.ejs
Aniket Mehta

June 8 2022
-->

<%- include('./partials/header.ejs') -%>

    <div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <div>
                    <h1 class="display-4" style="text-align: center">Services</h1>
                    <hr class="my-4" />
                    <h2>Software Engineering Technology
                    </h2>
                    <div class="row slideanim">
                        <div class="col-sm-4">
                            <img src="https://i.pinimg.com/originals/11/74/21/1174215797dec302c416c52eaac5fc46.png"
                                WIDTH="50" HEIGHT="50">
                            <h4>General Programming</h4>
                            <p>Mastering many programming languages(JAVA, PYTHON, & C#)</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="https://image.flaticon.com/icons/png/512/2352/2352209.png" 
                                WIDTH="50" HEIGHT="50">
                            <h4>Software Development</h4>
                            <p>Design, Develop, Install software.</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="https://www.iconfinder.com/data/icons/responsive-mobile-integration/32/responsive_1-512.png"
                                WIDTH="50" HEIGHT="50">
                            <h4>Mobile & Web Applications</h4>
                            <p>Prepare and install solutions by designing and understanding system
                                system specifications.
                            </p>
                        </div>
                    </div>
                    <br><br>
                    <div class="row slideanim">
                        <div class="col-sm-4">
                            <img src="https://cdn.onlinewebfonts.com/svg/img_464209.png" WIDTH="50" HEIGHT="50">
                            <h4>Teamwork</h4>
                            <p>Building strong communication is vital towards making a team work.</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="https://static.thenounproject.com/png/1681604-200.png" WIDTH="50" HEIGHT="50">
                            <h4>Problem Solving</h4>
                            <p>Analysing problems and solving solution.</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="https://www.iconfinder.com/data/icons/software-development/35/1-512.png"
                                WIDTH="50" HEIGHT="50">
                            <h4>Software Tester</h4>
                            <p>Test applications on any device and in return give feedback
                                that will help developer improve and enhance their software.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<link rel="stylesheet" type="text/css" href="app.css">

<%- include('./partials/footer.ejs') -%>